.app-class
{
  margin-top:90px;
	background-size: cover;
	background-repeat: no-repeat;
  display: grid;
  height: 100%;
}
 
.search-buton {
  background-color: #ab14ab;
  color: #fff;
  padding: 1.3em;
  letter-spacing: 2px;
  border-radius: 2px;
  border: solid 1px #ab14ab;
  font-size: 0.7em;
  text-transform: uppercase;
  display: inline-block;
  margin-left: -51%;
  width:43%;
}
.searchBar {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 1em;
  position: relative;
  margin-left: 20%;
}

.search-buton:hover {
  cursor: pointer;
}

.searchBox {
  background-color: #ccc;
  border: solid 1px #ccc;
  border-radius: 3px;
  width: 80%;
}

.searchBox:hover {
  cursor: pointer;
}

.search-icon {
  color: #605e5e;
  position: absolute;
  left: 3px;
  align-self: center;
}

.searchBox:focus {
  background-color: #fff;
}

.searchBox:focus .search-icon {
  color:black;
}
.rows{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(200,179,215,1) 42%, rgba(196,180,216,1) 42%, rgba(148,187,233,1) 100%);
  width: 60%;
  box-shadow: 0 4px 8px 0 #8615d6;
  text-align: center;
  
}
.rows:hover{
  cursor: pointer;
  box-shadow:  0 8px 12px 0#8615d6;
}
.menu-image{
  box-shadow: 0 4px 8px 0 black;
}
.menu-image:hover{
  box-shadow:  0 8px 12px 0 black;
}
.welcome-to-text
{
  text-align: center;
  font-size: 100px;
  font-weight: bold;
}
.menu-text
{
  text-align: center;
  font-size: 50px;
  font-weight: bold;

}
  .checkbox-container {
    border-radius: 25px;
    background-color: white;
    display: block;
    margin-top: 186px;
    margin-left: 436px;
    cursor: pointer;
    font-size: 22px;
    width: 417px;
    height: 200px;

}
.role-heading
{
  text-align: center;
}
.radio-buttons
{
  margin-top: 55px;
  margin-left: 150px;
}
.space-class
{
  height: 25px;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.owner-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.toggle-btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #ccc;
  border: none;
  color: black;
  text-align: center;
  padding:10px;
  cursor: pointer;
 }
 .menu-catalogue:hover{
  box-shadow: 4px 4px 10px 0 black;
 }
 .know-more {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA
}
.know-more:hover{
  background-color: #008CBA;
  color: white;
}
.format-display{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
